$color-primary-1: #070439;
$color-primary-2: #585989;

$color-accent-1: #3065f8;
$color-accent-2: #3c9f8f;

$color-neutral-1: #f6f6fe;
$color-neutral-2: #bfbfbf;

$color-black: #000;
$color-white: #f1f1f1;